body{
     margin: 0px;
     padding: 0px;
     color: white;
     background: url(./wallpaper-textured-black-free-download-13.jpg);
}

.left{
    /* border: 1px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;


}

.right{
    /* border: 1px solid green; */
    position: absolute;
    right: 34px;
    top: 20px;


}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 38px 50px;
    width: 20px;
    font-size: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a:hover{
    background-color: grey;
    text-decoration: underline;
}
.left div{
    text-align: center;
}
.navbar li a{
    color:white;
    
}
.animated img{
    width: 194px auto;
    margin: 269px auto;
    padding: 130px;

}
